@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto&display=swap');

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items {
  @apply flex flex-row items-center p-2 font-body font-bold space-x-2 hover:bg-gray-50;
}

.nav-items svg {
  @apply h-4 mr-2;
}

.router-link-exact-active.router-link-active {
  @apply bg-gray-100;
}

.nav-child {
  @apply text-xs nav-items;
}

.card {
  @apply rounded bg-white py-2 px-2 border shadow-sm;
}

.btn {
  @apply bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 font-medium hover:bg-gray-50 inline-flex justify-center nuxt-link-active px-4 py-2 rounded-md shadow-sm text-gray-700 text-sm
}

.btn-md {
  @apply bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 font-medium hover:bg-gray-50 inline-flex justify-center nuxt-link-active px-4 py-2 rounded-md shadow-sm text-gray-700 text-sm
}

.text-muted {
  @apply text-sm text-gray-400;
}

.link {
  @apply hover:bg-gray-200;
}

.money-input {
  background-image: url('./assets/nigeria-naira-currency-symbol.svg');
  @apply pl-8;
  background-position: left;
  background-size: 33px 16px;
  background-repeat: no-repeat;
}

.form-control {
  @apply border-1 focus-within:border-green-300 outline-none p-1 rounded shadow-sm;
}

div:first-child(input:disabled)
{
  @apply bg-gray-100
}

trix-toolbar .trix-button-group:not(:first-child) {
    margin-left: 0.5vw !important;
}

a.nav-items.text-sm.nuxt-link-exact-active.nuxt-link-active {
  background-color: #f1f1f1;
  border-radius: 5px;
}
